<!-- Sidebar Navigation -->
        <div class="sidebar">
            <div class="logo">Plutus</div>
            <ul class="nav-menu">
                <li class="nav-item"><a href="dashboard.html">Dashboard</a></li>
                <li class="nav-item"><a href="transfer.html">Transfer</a></li>
                <li class="nav-item"><a href="transaction.html">Transactions</a></li>
                <li class="nav-item"><a href="account_and_cards.html">Accounts and Cards</a></li>
                <li class="nav-item"><a href="investments.html">Investments</a></li>
            </ul>
            <ul class="nav-menu" id="bottom-menu">
                <li class="nav-item"><a href="account_setting.html">Settings</a></li>
                <li class="nav-item"><a href="/index.html">Log out</a></li>
            </ul>
        </div>
